<div class="container">
   <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="card horizontal z-depth-5">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Vidrarias cadastrados</p>
                            <span class="right material-icons">picture_as_pdf</span>
                        </div>
                        <div class="card-action">

                            <table class="bordered striped centered highlight responsive-table">
                                <thead class="striped">
                                    <tr>
                                        <th class="center">Nome</th>
                                        <th class="center">Codigo</th>
                                        <th class="center">Volume</th>
                                        <th class="center">Fundo</th>
                                        <th class="center">Gargalo</th>
                                        <th class="center">Cor</th>
                                        <th class="center">Temperatura</th>
                                        <th class="center">Ações</th>
                                    </tr>
                                </thead>

                                <tbody *ngFor="let item of listaVidrarias">
                                    <tr>
                                        <td class="center">{{item.nomeVidraria | uppercase}}</td>
                                        <td class="center">{{item.codigo}}</td>
                                        <td class="center">{{item.volume}}</td>
                                        <td class="center">{{item.fundo}}</td>
                                        <td class="center">{{item.gargalo}}</td>
                                        <td class="center">{{item.cor}}</td>
                                        <td class="center">{{item.temperatura}}</td>
                                        <td><a [routerLink]="['../detalhe/',item.id]"><span class="material-icons">image_search</span></a>
                                            <a   [routerLink]="['../edit/',item.id]">
                                              <span class="material-icons" >edit</span></a>  
                                              <span class="material-icons">delete</span></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <br><br>
</div>

