<div class="container">
    <div class="row">
        <div class="col s11 m11 l11"><h6>Painel</h6></div>
        
    </div>
    
    <div class="center">


    </div>

    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="card horizontal z-depth-5">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Cadastrados de Vidraria</p>

                        </div>
                        <div class="card-action">

                            <form class="row col s12 l12">
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Nome</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Codigo</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Volume(ml)</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Fundo</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Gargalo</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Cor</label>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Temperatura</label>
                                    </div>
                                    
                                    
                                </div>
                               <button class="waves-effect waves-light btn red">Salvar</button>
                                
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
   
</div>
<app-listagem></app-listagem>
