
h6  {
    margin-left: 10px;
    padding-top:30px;
    color: red;
    font-size: 20px;
}


a{
    margin-top: 20px;
      
}

p {
    color: red;
}


th {
    color: red;
    font-size: 14px;
}

span {
    color: red;
}




