<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="card horizontal z-depth-5">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Reagentes cadastrados</p>
                            <span class="right material-icons">picture_as_pdf</span>
                        </div>
                        <div class="card-action">

                            <table class="bordered striped  highlight responsive-table">
                                <thead class="striped">
                                    <tr>
                                        <th class="center">Nome</th>
                                        <th class="center">Formula Molecular</th>
                                        <th class="center">peso molecular</th>
                                        <th class="center">Registro cas</th>
                                        <th class="center">Aspecto</th>
                                        <th class="center">Quantidade</th>  
                                        <th class="center">Teor de pureza</th> 
                                        <th class="center">Ações</th>
                                    </tr>
                                </thead>

                                <tbody *ngFor="let item of listaReagentes">
                                    <tr>
                                        <td class="center">{{item.nomeReagente | uppercase}}</td>
                                        <td class="center">{{item.formula}}</td>
                                        <td class="center">{{item.pesoMolecular}}</td>
                                        <td class="center">{{item.cas}}</td>
                                        <td class="center">{{item.aspecto}}</td>
                                        <td class="center">{{item.quantidade}}</td>
                                        <td class="center">{{item.teorDePureza |percent}}</td>
                                        <td><a [routerLink]="['../detalhe/',item.id]"><span class=" material-icons">image_search</span></a>
                                            <a   [routerLink]="['../edit/',item.id]">
                                              <span class="material-icons" >edit</span></a>  
                                              <span class="material-icons">delete</span></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <br><br>
</div>
