
h6  {
    margin-left: 10px;
    padding-top:30px;
    color: red;
    font-size: 20px;
}


a{
    margin-top: 20px;
      
}

p {
    color: red;
}


th  {
    color: red;
    font-size: 11px;
}

td  {
    font-size: 10px;
    word-wrap:break-word;
    
}

span {
    color: red;
}


td a{
    margin-right: 2px!important;
}

td .material-icons { font-size: 16px!important;
margin-right: 0px;
 }




