<div class="container">
    <h6>Painel > Equipamento > Editar</h6>
    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="card horizontal z-depth-5">
                    <div class="card-stacked">
                        <div class="card-action">

                            <form formGroup="equipamentoForm"  novalidate class="row col s12 l12">
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="nomeEquipamento"  type="text"  required class="validate">
                                        <label for="nomeEquipamento">Nome do Equipamento</label>                                        
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <input id="modelo" type="text"  class="validate">
                                        <label for="modelo">Modelo</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="serie" type="text"   required class="validate">
                                        <label for="serie">Número de série</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <input id="fabricante" type="text"  required  class="validate">
                                        <label for="fabricante">Fabricante</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        <input id="voltagem" type="text"  required class="validate">
                                        <label for="voltagem">Voltagem</label>
                                    </div>
                                    
                                </div>
                               <button type="button" class="waves-effect waves-light btn red">Salvar</button>
                               <button [routerLink]="['../../cadastro']"type="button" class="waves-effect waves-light btn red">Cancelar</button>
                                
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>


