<div class="row">
    <div class="col s12 l6 offset-l3">
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-image">
                        <img src="{{logoMobile}}">

                    </div>
                    <hr>
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <button class="waves-effect waves-light btn red">Entrar</button>
                                <a class="col s6">Cadastre-se</a>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>