<div class="container">
    <div class="row">
        <div class="col s11 m11 l11"><h6>Painel > Reagente > Detalhe</h6></div>
        
    </div>
    
    <div class="center">


    </div>

    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="card horizontal z-depth-5">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Cadastrados de Reagentes</p>

                        </div>
                        <div class="card-action">

                            
                                <div>
                                    <div class="input-field col s12 l6">
                                       
                                        <label for="nomeReagente">Nome: {{listReagentesDetalhe.nomeReagente}}</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        
                                        <label for="formula">Formula molecular: {{listReagentesDetalhe.formula}}</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        
                                        <label for="pesoMolecular">Peso molecular: {{listReagentesDetalhe.pesoMolecular}}</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        
                                        <label for="cas">Registro CAS:{{listReagentesDetalhe.cas}}</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        
                                        <label for="aspecto">Aspecto:{{listReagentesDetalhe.aspecto}}</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        
                                        <label for="quantidade">Quantidade:{{listReagentesDetalhe.quantidade}}</label>
                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="input-field col s12 l6">
                                        
                                        <label for="teorDePureza">Teor de pureza:{{listReagentesDetalhe.teorDePureza |percent}}</label>
                                    </div>
                                    
                                    
                                </div>
                               
                               <a  [routerLink]="['../../cadastro/']" type="button" class="waves-effect waves-light btn red">Fechar</a>
                                
                               
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
   
</div>
